@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/typography";
@import "tailwindcss-animate";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: var(--font-work-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-100: #ffe8f0;
  --color-primary: #ee2b69;
  --color-secondary: #fbe843;
  --color-black-100: #333333;
  --color-black-200: #141413;
  --color-black-300: #7d8089;
  --color-black: #000000;
  --color-white-100: #f7f7f7;
  --color-white: #ffffff;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  }
}

@layer utilities {
  .shadow-100 {
    box-shadow: var(--shadow-100);
  }

  .shadow-200 {
    box-shadow: var(--shadow-200);
  }

  .shadow-300 {
    box-shadow: var(--shadow-300);
  }

  .rounded-lg {
    border-radius: var(--radius-lg);
  }

  .rounded-md {
    border-radius: var(--radius-md);
  }

  .rounded-sm {
    border-radius: var(--radius-sm);
  }
}
